@model ReservationsApp.Models.Reservation
@{
    ViewBag.Title = "Delete";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Delete reservation. Are you sure?</h2>
<fieldset>
    <legend>Reservation</legend>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ReservationId)
    </div>

    <div class="display-field">
        @Html.DisplayFor(model => model.ReservationId)
    </div>
</fieldset>

@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" />
        @Html.ActionLink("Back to list", "Index")
    </p>
}

